{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/usuario.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}
{% include "partials/header.html" %}
{% if messages %}
<br>
{% for message in messages %}
    <section class="alert {{message.tags}}">
        {{message}}
    </section>
{% endfor %}
{% endif %}
<div class="form-container">
    <h2>Alterar informações do usuário</h2>
    <form action="{% url 'usuario' %}" method="POST"> {% csrf_token %}
        <label for="login">Login:</label>
        <input type="text" id="login" name="login"  >

        <label for="new_password">Senha:</label>
        <input type="password" id="new_password" name="new_password">

        <button type="submit">Salvar alterações</button>
    </form>
</div>

{% endblock 'conteudo' %}